<div id="testimonials" class="section wb wow fadeIn">
    <div class="container">
       <div class="heading">
          <span class="icon-logo"><img src="images/icon-logo.png" alt="#"></span>
          <h2>Testimonials</h2>
       </div>
       <!-- end title -->
       <div class="row">
          <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
             <div class="testimonial clearfix">
                <div class="desc">
                   <h3><i class="fa fa-quote-left"></i> The amazing clinic! Wonderful Support!</h3>
                   <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                </div>
                <div class="testi-meta">
                   <img src="images/testi_01.png" alt="" class="img-responsive alignleft">
                   <h4>James Fernando <small>- Manager of Racer</small></h4>
                </div>
                <!-- end testi-meta -->
             </div>
             <!-- end testimonial -->
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
             <div class="testimonial clearfix">
                <div class="desc">
                   <h3><i class="fa fa-quote-left"></i> Thanks for Help us!</h3>
                   <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                </div>
                <div class="testi-meta">
                   <img src="images/testi_02.png" alt="" class="img-responsive alignleft">
                   <h4>Andrew Atkinson <small>- Life Manager</small></h4>
                </div>
                <!-- end testi-meta -->
             </div>
             <!-- end testimonial -->
          </div>
          <!-- end col -->
       </div>
       <!-- end row -->
       <hr class="invis">
       <div class="row">
          <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
             <div class="testimonial clearfix">
                <div class="desc">
                   <h3><i class="fa fa-quote-left"></i> The amazing clinic! Wonderful Support!</h3>
                   <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                </div>
                <div class="testi-meta">
                   <img src="images/testi_03.png" alt="" class="img-responsive alignleft">
                   <h4>Amanda DOE <small>- Manager of Racer</small></h4>
                </div>
                <!-- end testi-meta -->
             </div>
             <!-- end testimonial -->
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
             <div class="testimonial clearfix">
                <div class="desc">
                   <h3><i class="fa fa-quote-left"></i> Thanks for Help us!</h3>
                   <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                </div>
                <div class="testi-meta">
                   <img src="images/testi_01.png" alt="" class="img-responsive alignleft">
                   <h4>Martin Johnson <small>- Founder of Goosilo</small></h4>
                </div>
                <!-- end testi-meta -->
             </div>
             <!-- end testimonial -->
          </div>
          <!-- end col -->
       </div>
       <!-- end row -->
    </div>
    <!-- end container -->
 </div>
 <!-- end section -->
<div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
    <div class="container">
       <div class="heading">
          <span class="icon-logo"><img src="assets/images/icon-logo.png" alt="#"></span>
          <h2>Get in Touch</h2>
       </div>
    </div>
    <div class="contact-section">
       <div class="form-contant">
          <form id="ajax-contact" action="assets/mailer.php" method="post">
             <div class="row">
                <div class="col-md-6">
                   <div class="form-group in_name">
                      <input type="text" class="form-control" placeholder="Name" required="required">
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group in_email">
                      <input type="email" class="form-control" placeholder="E-mail" required="required">
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group in_email">
                      <input type="tel" class="form-control" id="phone" placeholder="Phone" required="required">
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group in_email">
                      <input type="text" class="form-control" id="subject" placeholder="Subject" required="required">
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="form-group in_message"> 
                      <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required"></textarea>
                   </div>
                   <div class="actions">
                      <input type="submit" value="Send Message" name="submit" id="submitButton" class="btn small" title="Submit Your Message!">
                   </div>
                </div>
             </div>
          </form>
       </div>
       <div id="googleMap" style="width:100%;height:450px;"></div>
    </div>
 </div>
 <footer id="footer" class="footer-area wow fadeIn">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="logo padding">
                <a href=""><img src="assets/images/logo.png" alt=""></a>
                <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche artisan.</p>
             </div>
          </div>
          <div class="col-md-6">
             <div class="footer-info padding">
                <h3>CONTACT US</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Khayalami Medical Solutions 3rd Avenue Tzaneen 0850</p>
                <p><i class="fa fa-paper-plane" aria-hidden="true"></i> khanyalamimedical@gmail.com</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> (+27) 65 924 1723</p>
             </div>
          </div>

       </div>
    </div>
 </footer>
<!-- map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUPWkb4Cjd7Wxo-T4uoUldFjoiUA1fJc&callback=myMap"></script>