<div id="time-table" class="time-table-section">
    <div class="container">
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="row">
             <div class="service-time one" style="background:#2895f1;">
                <span class="info-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></span>
                <h3>Emergency Case</h3>
                <p>Dignissimos ducimus qui blanditii sentium volta tum deleniti atque cori as quos dolores et quas mole.</p>
             </div>
          </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="row">
             <div class="service-time middle" style="background:#0071d1;">
                <span class="info-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span> 
                <h3>Working Hours</h3>
                <div class="time-table-section">
                   <ul>
                      <li><span class="left">Monday - Friday</span><span class="right">8.00 – 18.00</span></li>
                      <li><span class="left">Saturday</span><span class="right">8.00 – 16.00</span></li>
                      <li><span class="left">Sunday</span><span class="right">8.00 – 13.00</span></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="row">
             <div class="service-time three" style="background:#0060b1;">
                <span class="info-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
                <h3>Clinic Timetable</h3>
                <p>Dignissimos ducimus qui blanditii sentium volta tum deleniti atque cori as quos dolores et quas mole.</p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="about" class="section wow fadeIn">
    <div class="container">
       <div class="heading">
          <span class="icon-logo"><img src="assets/images/icon-logo2.png" alt="#"></span>
          <h2>Khanyalami Medical Solutions</h2>
       </div>
       <!-- end title -->
       <div class="row">
          <div class="col-md-6">
             <div class="message-box">
                <h4>What We Do</h4>
                <p>Khanyalami Medical Solutions is an independent private organization that comprise of a self made multidisciplinary medical team born to be highly sophisticated and determined to reach out for the community from miles away to tackle real life medical issues.</p>
                <h3>Purpose</h3>
                <p>Our main objective is to screen, prevent, cure, educate and change lives.</p>
                <h3>Vision</h3>
                <p>To create value in individuals to live a happier, healthier and prolonged life.</p>
                <h3>Mission</h3>
                <p>We are dedicated in promoting health and uplifting life.<br>To provide quality, cost
               effective and convinient medical service particularly at your door step.</p>
                <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn More</a>
             </div>
             <!-- end messagebox -->
          </div>
          <!-- end col -->
          <div class="col-md-6">
             <div class="post-media wow fadeIn">
                <img src="assets/images/about_03.jpg" alt="" class="img-responsive">
                <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
             </div>
             <!-- end media -->
          </div>
          <!-- end col -->
       </div>
       <!-- end row -->
       <hr class="hr1">
       <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="service-widget">
                <div class="post-media wow fadeIn">
                   <a href="assets/images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                   <img src="assets/images/clinic_01.jpg" alt="" class="img-responsive">
                </div>
                <h3>Digital Control Center</h3>
             </div>
             <!-- end service -->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="service-widget">
                <div class="post-media wow fadeIn">
                   <a href="assets/images/clinic_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                   <img src="assets/images/clinic_02.jpg" alt="" class="img-responsive">
                </div>
                <h3>Hygienic Operating Room</h3>
             </div>
             <!-- end service -->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="service-widget">
                <div class="post-media wow fadeIn">
                   <a href="assets/images/clinic_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                   <img src="assets/images/clinic_03.jpg" alt="" class="img-responsive">
                </div>
                <h3>Specialist Physicians</h3>
             </div>
             <!-- end service -->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="service-widget">
                <div class="post-media wow fadeIn">
                   <a href="assets/images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                   <img src="assets/images/clinic_01.jpg" alt="" class="img-responsive">
                </div>
                <h3>Digital Control Center</h3>
             </div>
             <!-- end service -->
          </div>
       </div>
       <!-- end row -->
    </div>
    <!-- end container -->
 </div>
